# Logs
logs
*.log

# Dependencies
vendor
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build artifacts
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# WordPress/PHP specific
tmp-elementor
wp-content/uploads/*
wp-content/cache/*

# OS files
Thumbs.db
