.spectre-icon--rendered {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.spectre-icon--rendered svg {
	width: 100%;
	height: 100%;
	display: block;
}

.spectre-icon--style-outline svg {
	fill: none;
	stroke: currentColor;
}

.spectre-icon--style-outline svg path,
.spectre-icon--style-outline svg circle,
.spectre-icon--style-outline svg rect,
.spectre-icon--style-outline svg line,
.spectre-icon--style-outline svg polyline {
	stroke: currentColor;
}

.spectre-icon--style-filled svg {
	fill: currentColor;
	stroke: currentColor;
}
